body {
    font-family: 'Nunito', sans-serif;
    background-color: #f0f8ff;
    margin: 0;
    padding: 20px;
    color: #333;
    font-size: 1.3em;
}

header {
    background-color: #ffb6c1;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ul,
ol {
    margin-left: 20px;
}

a {
    color: rgb(57, 104, 158);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #ffb6c1;
    border-radius: 10px;
}